
.logo{
	float:left;
	margin: 10px 20px;

}


#header{
	float:right;
	margin: 10px 10px;
	

}

.header-container{
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;
	width: 100%;
}

ul.navbar{
	list-style-type: none;
	margin-right: 20px;

}

ul.navbar li{
	float:left;

}
	
ul.navbar a{
	font-family: Raleway, Sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 1.5px;
	color:#444444;
	display: inline-block;
	padding: 0 10px;
}	

ul.navbar a:hover{
	color: #FCB909;
}

 body{
 	margin: 0 auto;

}

.bantitle{
	position: absolute;
	top: 120px;
	left: 300px;
	font-family: Raleway, Sans-serif;
	color: white;
	font-size: 65px;

}

#mainwrapper{
	margin: 0 auto;
	width: 1300px;

}

.banner{
	margin-top: 100px;
	text-align: center;
	padding-bottom: 20px;
}

.maincont{
	width:1300px;
	margin: 0 auto;
}

.john-container{
	
	width: 1100px;
	background: #FCB909;
	float:right;
}

.ielene-container{
	
	width: 1100px;
	
	background: #444444;
	float:right;

}

.jed-container{
	
	width: 1100px;
	background: #FCB909;
	float:right;

}
.q-design{
	float:left;
	margin-left: 40px;
	margin-top: 20px;


}

.textcontainer{
	height:200;
	width: 700px;
	margin-left: 150px;
	margin-bottom: 25px;
	letter-spacing: 1.5px;

}
	
 .yambao {
        width: 200px;
        height: 200px;
        background-size: cover;
        float:left;
        transition: 300ms;
       
       
        background-image: url('imgs/johng.jpg');
    }

    .yambao:hover {
        background-image: url('imgs/johng_hover.jpg');


    }


.quote{
	font-family: Raleway, Sans-serif;
	font-weight: bold;
	color: white;

}

.intname{
	font-family: Raleway, Sans-serif;
	font-weight: bold;
	color: white;
	line-height: 0;
}

.info{
	font-family: Raleway, Sans-serif;
	color: white;
	line-height: 20px;

}

.moreinfo{
	font-family: Raleway, Sans-serif;
	color: white;
	font-size: 13px;
}

 .erebusa{
        width: 200px;
        height: 200px;
        background-size: cover;
      	float:left;
        
        margin-top:321px;

        transition: 300ms;
       
        background-image: url('imgs/ielene.jpg');
    }

    .erebusa:hover {
        background-image: url('imgs/ielene_hover.jpg');

    }

    .laxamana{
        width: 200px;
        height: 200px;
        background-size: cover;
      	float:left;
        
        margin-top:440px;
       
        background-image: url('imgs/jed_hover.jpg');
    }